[submodule "vscode"]
	path = themes/vscode
	url = https://github.com/scottgriv/Dark-Castle-VSCode
	branch = main
[submodule "notepad-plus-plus"]
	path = themes/notepad-plus-plus
	url = https://github.com/scottgriv/Dark-Castle-Notepad-Plus-Plus
	branch = main
[submodule "xcode"]
	path = themes/xcode
	url = https://github.com/scottgriv/Dark-Castle-Xcode
	branch = main
[submodule "obsidian"]
	path = themes/obsidian
	url = https://github.com/scottgriv/Dark-Castle-Obsidian
	branch = main
[submodule "bbedit"]
	path = themes/bbedit
	url = https://github.com/scottgriv/Dark-Castle-BBEdit
	branch = main
[submodule "warp"]
	path = themes/warp
	url = https://github.com/scottgriv/Dark-Castle-Warp
	branch = main
[submodule "sketch"]
	path = themes/sketch
	url = https://github.com/scottgriv/Dark-Castle-Sketch
	branch = main
[submodule "wallpaper"]
	path = themes/wallpaper
	url = https://github.com/scottgriv/Dark-Castle-Wallpaper
	branch = main
[submodule "figma"]
	path = themes/figma
	url = https://github.com/scottgriv/Dark-Castle-Figma
	branch = main
[submodule "terminal-app"]
	path = themes/terminal-app
	url = https://github.com/scottgriv/Dark-Castle-Terminal-App
	branch = main
[submodule "mysql-workbench"]
	path = themes/mysql-workbench
	url = https://github.com/scottgriv/Dark-Castle-MySQL-Workbench
	branch = main
[submodule "swiftui"]
	path = themes/swiftui
	url = https://github.com/scottgriv/Dark-Castle-SwiftUI
	branch = main
[submodule "themes/windows-terminal"]
	path = themes/windows-terminal
	url = https://github.com/scottgriv/Dark-Castle-Windows-Terminal
	branch = main
[submodule "themes/sublime"]
	path = themes/sublime
	url = https://github.com/scottgriv/Dark-Castle-Sublime
	branch = main
