/* Full Color Palette - View the docs/PALETTE.css and docs/PALETTE.md file for the full color palette usage.*/
:root {
    --black: #000000;
    --black-02: #1A1A1A;
    --dark-gray: #292929;
    --dark-gray-02: #333333;
    --dark-gray-03: #4B4740;
    --gray: #575757;
    --light-gray: #9C9C9C;
    --light-gray-02: #D7DCE2;
    --white: #FFFFFF;
    --light-red: #EF6B73;
    --light-orange: #FF8040;
    --light-yellow: #FFD580;
    --light-green: #BAE67E;
    --light-blue: #4DBCED;
    --light-purple: #D8BFD8;
    --red: #FF000F;
    --orange: #FF5503;
    --yellow: #DFC200;
    --green: #08D220;
    --green-02: #41CC45;
    --blue: #4164FF;
    --purple: #9354FF;
    --pink: #FF3399;
    --dark-red: #AA0000;
    --dark-yellow: #DDAB13;
    --dark-green: #0D8501;
    --dark-teal: #007B88;
    --dark-blue: #2D449B;
    --dark-purple: #AA1B86;
}